@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px;
    padding: 25px;
}

.link {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #f8f8ff;
    border-radius: 25px;
}

.flex-container {
    display: flex;
    margin: 75px;
    padding: 50px;
    gap: 50px;
}

.image {
    height: 500px;
    width: auto;
    border-radius: 25px;
}

.root {
    background-color: #265077;
}

.flex-container {
    background-color: #f8f8ff;
    border-radius: 25px;
}

.about-me {
    color: #265077;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    text-align: center;
}
