.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px;
    padding: 25px;
}

.flex-container {
    display: flex;
    margin: 100px;
    padding: 50px;
    gap: 50px;
}

.image {
    height: 500px;
    width: auto;
    border-radius: 25px;
}

.about-me {
    text-align: center;
    justify-content: center;
    padding-top: 200px;
}
