.header__container {
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
    padding-top: 2rem;
}

.header__router-nav {
    display: flex;
    gap: 1.5rem;
}

.header__router-nav > p {
    font-size: 1.75rem;
}

.header__social-nav {
    font-size: 2.25rem;
    display: flex;
    gap: 1rem;
}

.header__nav-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}

.header__nav-link:hover {
    transform: scale(1.2);
}