.MainContent__container {
    height: 100%;
    max-width: 100vw;
    min-height: 0;
    min-width: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2rem 5rem;
    gap: 2rem;
}

.MainContent__info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2.5rem;
    line-height: 3.25rem;
}

.MainContent__info-pitt {
    background: linear-gradient(to right, #003594, #ffb81c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MainContent__picture-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainContent__picture {
    max-width: 85%;
    max-height: 80%;
    border-radius: 1rem;
    border: 4px solid black;
}

.MainContent__info-project-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    cursor: pointer;
    font-size: 2.5rem;
}

@media (max-width: 480px) {
    .MainContent__picture-container {
        display: none;
        flex-basis: 0;
    }

    .MainContent__container {
        padding: 1rem;
        text-align: center;
        margin-left: auto;
        align-items: baseline;
        justify-content: baseline;
    }

    .MainContent__info {
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        width: 100%;
        flex-basis: 1;
    }
}

@media (min-width: 481px) and (max-width: 960px) {
    .MainContent__picture-container {
        display: none;
        flex-basis: 0;
    }

    .MainContent__container {
        padding: 1rem;
        text-align: center;
        margin-left: auto;
    }
}
