.projects__element-container {
    padding: 4rem 9rem;
}

.projects__container {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

@media (max-width: 960px) {
    .projects__element-container {
        padding: 3rem;
    }
    
}